{{ define "home" }}
{{template "header" .}}

<main class="px-3 m-auto text-center mb-5 w-50">

    <img  src="assets/image.jpg" alt="solar panels" height="300">
    <h1 class="mt-2">Hacker's Bestfriend</h1>
    <div class="row justify-content-around">
        <div class="col-6" style="width: 400px; height: 200px; background-color: white;">
            <p>
                List of Things
            </p>
        </div>
        <div class="col-6" style="width: 400px; height: 200px; background-color: white;">
            <p>
                List of Things
            </p>
        </div>
    </div>


</main>

{{template "footer" .}}
{{ end }}