{{ define "login" }}
{{template "header" .}}

<main class="px-3 m-auto text-center mb-5 w-50">

    {{if eq .status "OK"}}
    <div class="alert alert-primary" role="alert">
        User added!
    </div>
    {{end}}

    {{if eq .status "FAIL"}}
    <div class="alert alert-danger" role="alert">
        User already exists!
    </div>
    {{end}}

    <form class="bg-light p-3 rounded" method="post">
        <img class="mb-4" src="assets/image.jpg" alt="" width="150" height="150">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating  mb-3">
            <input type="text" name="user" class="form-control" id="email" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating  mb-3">
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit" formaction="/login">Sign in</button>
    </form>


</main>

{{template "footer" .}}
{{ end }}