{{ define "admin" }}
{{template "header" .}}

<main class="px-3 m-auto text-center mb-5 w-75">

    <div class="row bg-light rounded p-3">
        <h3>Requests</h3>
        {{range .Requests}}
        <div class="row">
            <div class="col-6">
                <div class="row item">
                    <p>Username: {{.Name}}, {{.Email}} </p>
                </div>
            </div>
            <div class="col-6">
                <div class="row item">
                    <p>Description: {{.Desc}}</p>
                </div>
            </div>
        </div>
        {{end}}

    </div>


    <div class="row bg-light rounded p-3">
        <h3>Users</h3>
        {{range .Users}}
        <div class="row item">
            <p>Username: {{.Username}} </p>
            <p>Password: {{.Password}}</p>
        </div>
        {{end}}

    </div>


</main>

{{template "footer" .}}
{{ end }}